<ion-header>
  <ion-toolbar>
    <ion-title style="font-size:1.7rem;">Facts
      <ion-icon name="refresh" size="large"  (click)="onRefresh()"></ion-icon>
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<br>
<ion-content id="facts-card">
  <ion-card    *ngFor="let article of data" (click)="onGoToNewsSinglePage(article)">
    <!-- <ion-img [src]="article.urlToImage"></ion-img> -->
    <ion-card-content id="facts-title" *ngIf="!showLoader">
      {{article.title}}
      <!--<p>{{article.description}}</p>-->
    </ion-card-content>
  </ion-card>

  <div *ngIf="showLoader">
  <br>
  <br>
  <br>
    <div id="loader-wrapper">
      <div id="loader">
      </div>
    </div>
    <div class="entry-header">
      <div class="loading_text">Loading Feed...</div>
    </div>
  </div>
</ion-content>