.entry-header {
        
    position: relative;
    z-index: 10001;
   text-decoration-color: #000000;
   color:#000000;
   top:100%;
   text-align: center;
   font-size:2.5em;
    
    }

    #facts-card{
      margin-top:0.5em;
    }

    #facts-title{
      font-size: large;
      font-weight:bold;
    }
       
       #loader-wrapper{
         position:fixed;
         top:50%;
         left:50%;
         width:30em;
         height:18em;
         margin-top: -9em;
         margin-left: -15em;
         z-index:1000;
       }
       
       #loader{
         display: block;
         position: relative;
         left: 50%;
         top: 40%;
         width: 150px;
         height:150px;
         margin: -75px 0 0 -75px;
         border-radius: 50%;
         border: 3px solid transparent;
         border-top-color: #3498db;
       
         -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
                 animation: spin 2s linear infinite;
       }
       
       #loader:before{
         content: "";
         position: absolute;
         top: 5px;
         left:5px;
         right:5px;
         bottom: 5px;
         border-radius: 50%;
         border: 3px solid transparent;
         border-top-color: #e74c3c;
       
         -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
                 animation: spin 3s linear infinite;
       }
       
       #loader:after{
         content: "";
         position: absolute;
         top: 15px;
         left:15px;
         right:15px;
         bottom: 15px;
         border-radius: 50%;
         border: 3px solid transparent;
         border-top-color: #f9c922;
       
         -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
                 animation: spin 1.5s linear infinite;
       }
       
       @-webkit-keyframes spin {
         0%   {
           -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
           -ms-transform: rotate(0deg);  /* IE 9 */
               transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
         }
         100% {
           -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
           -ms-transform: rotate(360deg);  /* IE 9 */
               transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
         }
       }
       @keyframes spin {
         0%   {
           -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
           -ms-transform: rotate(0deg);  /* IE 9 */
               transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
         }
         100% {
           -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
           -ms-transform: rotate(360deg);  /* IE 9 */
               transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
         }
       }
       
